FormatStyle: "file"

Checks: "*,
  -*braces-around-statements,
  -*else-after-return,
  -*magic-numbers,
  -*named-parameter,
  -altera-struct-pack-align,
  -altera-unroll-loops,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-member-init,
  -fuchsia-default-arguments*,
  -fuchsia-overloaded-operator,
  -fuchsia-trailing-return,
  -google-build-using-namespace,
  -google-readability-todo,
  -hicpp-member-init,
  -hicpp-move-const-arg,
  -llvm-include-order,
  -llvmlibc*,
  -misc-no-recursion,
  -modernize-use-nodiscard,
  -readability-avoid-nested-conditional-operator,
  -readability-identifier-length,
  -readability-implicit-bool-conversion"

CheckOptions:
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: true
  performance-move-const-arg.CheckTriviallyCopyableMove: false
  cppcoreguidelines-macro-usage.CheckCapsOnly: true
  bugprone-unused-return-value.AllowCastToVoid: true
