FormatStyle: "file"

Checks: "
  *,
  -altera-*,
  -android-*,
  -fuchsia-*,
  -google-*,
  -llvm*,
  -*avoid-c-arrays,
  -*avoid-const-or-ref-data-members,
  -*avoid-do-while,
  -*braces-around-statements,
  -*magic-numbers,
  -*member-init,
  -*named-parameter,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -hicpp-move-const-arg,
  -misc-no-recursion,
  -modernize-use-nodiscard,
  -readability-else-after-return,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-qualified-auto,
  "

CheckOptions:
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: true
  performance-move-const-arg.CheckTriviallyCopyableMove: false
  cppcoreguidelines-macro-usage.CheckCapsOnly: true
  bugprone-unused-return-value.AllowCastToVoid: true
