FormatStyle: "file"

Checks: "
  *,
  -altera-*,
  -android-*,
  -bugprone-easily-swappable-parameters,
  -cert-dcl58-cpp,
  -cppcoreguidelines-avoid-c-arrays, -modernize-avoid-c-arrays,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-magic-numbers, -readability-magic-numbers,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-member-init,
  -cppcoreguidelines-special-member-functions,
  -fuchsia-*,
  -google-*,
  -hicpp-*,
  -llvm*,
  -misc-no-recursion,
  -readability-braces-around-statements,
  -readability-else-after-return,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-named-parameter,
  -readability-qualified-auto,
  -readability-static-accessed-through-instance,
  "

CheckOptions:
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: true
  performance-move-const-arg.CheckTriviallyCopyableMove: false
  cppcoreguidelines-macro-usage.CheckCapsOnly: true
  bugprone-unused-return-value.AllowCastToVoid: true
