# Ignore everything that is not handled below
*

# Keep the following files
!.gitignore
!README.md
!todo.txt

# And keep all source code
!*.hpp
!*.cpp
!*.kieli
!kieli_config

# Recursively apply rules to subdirectories
!*/
